public net.minecraft.resources.ResourceLocation$Dummy
public net.minecraft.client.renderer.block.model.ItemOverrides$PropertyMatcher
public net.minecraft.client.resources.model.ModelBakery$BakedCacheKey
public net.minecraft.client.gui.font.providers.UnihexProvider$IntContents
public net.minecraft.client.gui.font.providers.UnihexProvider$ShortContents
public net.minecraft.client.gui.font.providers.UnihexProvider$ByteContents
public net.minecraft.client.resources.model.ModelManager$ReloadState
public net.minecraft.client.gui.font.providers.UnihexProvider$Glyph
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.gui.font.FontManager$Preparation
public net.minecraft.client.gui.font.FontSet$GlyphInfoFilter
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
public net.minecraft.client.gui.font.providers.BitmapProvider$Glyph
# 允许修改 net.minecraft.client.renderer 类中的 GlUniform 字段
public-f net.minecraft.client.renderer.ShaderInstance f_173308_ # MODEL_VIEW_MATRIX
public-f net.minecraft.client.renderer.ShaderInstance f_173309_ # PROJECTION_MATRIX
public-f net.minecraft.client.renderer.ShaderInstance f_200956_ # INVERSE_VIEW_ROTATION_MATRIX
public-f net.minecraft.client.renderer.ShaderInstance f_173310_ # TEXTURE_MATRIX
public-f net.minecraft.client.renderer.ShaderInstance f_173311_ # SCREEN_SIZE
public-f net.minecraft.client.renderer.ShaderInstance f_173312_ # COLOR_MODULATOR
public-f net.minecraft.client.renderer.ShaderInstance f_173313_ # LIGHT0_DIRECTION
public-f net.minecraft.client.renderer.ShaderInstance f_173314_ # LIGHT1_DIRECTION
public-f net.minecraft.client.renderer.ShaderInstance f_173315_ # FOG_START
public-f net.minecraft.client.renderer.ShaderInstance f_173316_ # FOG_END
public-f net.minecraft.client.renderer.ShaderInstance f_173317_ # FOG_COLOR
public-f net.minecraft.client.renderer.ShaderInstance f_202432_ # FOG_SHAPE
public-f net.minecraft.client.renderer.ShaderInstance f_173318_ # LINE_WIDTH
public-f net.minecraft.client.renderer.ShaderInstance f_173319_ # GAME_TIME
public-f net.minecraft.client.renderer.ShaderInstance f_173320_ # CHUNK_OFFSET
